.text-fire {
  color: #ed6c30;
  /* text-shadow: #ecc94b 0 0 10px, #f57c00 0 0 5px, #7a0000 0 0 2px; */
  /* text-shadow: #ecc94b 1px 2px 0, #f57c00 1px 4px 5px, #ed6c30 0 0 8px; */
  text-shadow: #fff 0 -1px 4px, #f6e05e 0 -4px 10px, #ffa000 0 -14px 20px,
    #ed6c30 0 -20px 30px;
}

.box-background {
  background-image: url("/cms-on-fire-emboss.svg");
  background-size: 80px 90px;
  background-repeat: repeat;
}
